<!DOCTYPE html>
<html>
    <head>


        <meta charset="UTF-8" />
        <title>{% block title %}Eygo Coiffure{% endblock %}</title>
        {% block stylesheets %}

        <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
          


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eygo Coiffeur</title>

    <!--Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('js/bootstrap.min.js')}}" rel="stylesheet">

    <!--Custom Fonts -->

    <link href="{{ asset('bundles/js/jquery.min.js') }}" rel="stylesheet" type="text/js">
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">



    <!HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    <body style="background-image: url('{{ asset('images/Font.jpg') }}');">
      
       <h1> {% block pageTitle %}{% endblock %}</h1>

  
<nav id="nav-main" style="background-color: #8A051F">
<img class="" src="{{asset('images/header.png')}}">

<nav id="nav-main" style="background-color: #8A051F">
    <ul>
        <li><a href="{{path('home_homepage')}}">ACCUEIL</a></li>
        <li><a href="{{path('carte')}}">CARTE</a></li>
        <li><a href="{{path('horaire')}}">HORAIRES</a></li>
        <li><a href="{{path('contact')}}">CONTACT</a></li>
        <li><a href="https://www.facebook.com/EygoAttitude/?fref=ts" ><img src="{{asset('bundles/framework/images/fb.png')}}"> </a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('admin_homepage')}}"><img src="{{asset('bundles/framework/images/admin.png')}}"></a></li>
        {% else %}       
        <li style="text-align: right;"><a href="{{ path('fos_user_security_login')}}"><img src="{{asset('bundles/framework/images/admin.png')}}"> </a></li>
        {% endif %}
    </ul>
</nav>
</nav>
<div id="nav-trigger">
    <span>
    <ul>
        <a href="{{path('home_homepage')}}">ACCUEIL</a></br></br>
        <a href="{{path('carte')}}">CARTE</a></br></br>
        <a href="{{path('horaire')}}">HORAIRES</a></br></br>
        <a href="{{path('contact')}}">CONTACT</a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('admin_article')}}"><img src="{{asset('bundles/framework/images/add.png')}}"></a>
        {% else %}       
        <a href="{{ path('fos_user_security_login')}}"><img src="{{asset('bundles/framework/images/admin.png')}}"> </a>
        {% endif %}
    </ul></span>


</div>
<nav id="nav-mobile"></nav>
        {% block javascripts %}{% endblock %}

 {% block body %}



           {% endblock %}

    </body>
</html>
